.Footer
  background #1160AA
  &-title
    color #e0e0e0
    font-size 20px
    text-align center
    margin 0 0 20px 0
    display block
  &-link:link
    text-decoration none
  &-socialNet
    text-align center
    padding-top 1em
.fa-twitter, .fa-facebook-official, .fa-youtube-play
  font-size 2.5em
  padding 10px
#facebook
  color 0074E4
#facebook:hover
  color #fafafa
  transition 400ms
#twitter
  color #00aced
#twitter:hover
  color #fafafa
  transition 400ms
#youtube
  color #e52d27
#youtube:hover
  color #fafafa
  transition 400ms
.imgfooter
  height 44px
  width 170px
.Footer-ImagesCont
  display flex
