<div class=" Footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12   Footer-socialNet ">
        <a class="Footer-link" href="http://facebook.com" target="_blank">
          <i id="facebook" class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a class="Footer-link" href="http://twitter.com" target="_blank">
          <i id="twitter" class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a class="Footer-link" href="http://youtube.com" target="_blank">
          <i id="youtube"class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
        <h2 class="Footer-title"> Contratista 2017.</h2>
      </div>
    </div>
  </div>
</div>
